<%= form_for [@book, @review, @new_comment] do |f| %>
    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
    <div class="field form-group">
      <%= f.text_area :body, class: 'form-control' ,:required => true, autofocus: true %>
    </div>
    <div class="field form-group">
      <%= submit_tag "Post comment", class: 'btn btn-primary' %>
      <a class="btn btn-primary pull-right" href="javascript:history.back()">Back</a>
    </div>
<% end %>
