<% comments.each do |comment| %>
    <div class="comments-show">
      <div class="comment">
        <p><%= comment.body %><br></p>
        <div class="comment-nav"><div href="#" class="comment-reply btn btn-primary btn-sm">Reply this</div></div>
        <div class="reply-form">
          <%= form_for [@book, @review, @new_comment] do |f| %>
              <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
              <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
              <%= f.hidden_field :comment_id, value: comment.id %>
              <div class="field form-group">
                <%= f.text_area :body, class: 'form-control', :required => true %>
              </div>
              <div class="field form-group">
                <%= submit_tag "Submit Reply", class: 'btn btn-primary' %>
              </div>
          <% end %>
        </div>
      </div>
      <%= render partial: "comments/reply", locals: {comments: comment.children} %>
    </div>
<% end %>
