<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead class="userlist-header">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th colspan="3" class="function">Function</th>
    </tr>
  </thead>

  <tbody class="userlist">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td>
          <% unless user.admin %>
            <%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %>
          <% end %>
        </td>
        <td><%= render 'form', user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div class="form-size alert alert-info" role=alert>
    <%= debug(params) if Rails.env.development? %>
  </div>
<br>
