<nav class="navbar navbar-default navbar-fixed-top custom-navbar">

  <div class="container" >

    <div class="navbar-header" >
      <%= link_to "Book", root_path, class: "navbar-brand red-text" %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Latest review", reviews_path, class: "red-text"  %></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input style="margin-top: 0px; width: 419px;" type="text" class="form-control" placeholder="Search" name="search" id="search-form">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle red-text" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
              <li class = "<%= 'active' if params[:category] == category.name %>">
                <%= link_to category.name, books_path(category: category.name), class: "link" %>
              </li>
          <% end %>
        </ul>
      </li>
      <% if user_signed_in? == false %>
          <li><%= link_to "Log In", new_user_session_path, class: "red-text" %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "red-text" %></li>
      <% end %>
      <% if user_signed_in? %>
        <% if can? :manage, User %>
          <li><%= link_to "Manage user", users_path, class: "red-text" %></li>
        <% end %>
        <% if can? :create, Book %>
          <li><%= link_to "Add Book", new_book_path, class: "red-text" %></li>
        <% end %>
        <% if can? :create, Category %>
          <li><%= link_to "Add Category", new_category_path, class: "red-text" %></li>
        <% end %>
          <% if current_user %>
              <li class="dropdown">
                <a class="dropdown-toggle navbar-user-avatar red-text" role="button" id="menu1" data-toggle="dropdown">
                  <%= image_tag(current_user.avatar.url(:medium), :class => "round-image-50") %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li><%= link_to 'My Profile', current_user %></li>
                  <li role="presentation" class="divider"></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>

          <% end %>
      <% end %>

    </ul>

  </div>

</nav>
