<p id="alert", style="color:red;font-size:36px"><%= alert %></p>

<%if params[:search] %>
  <% if @books.present? %>
    <%= render "book", books: @books %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
<% else %>
    <% if params[:category].blank? %>
	    <%= render 'all_books' %>
	<% else %>
	    <%= render 'via_category'%>
    <%end%>
<%end%>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>
