<p id="alert", style="color:red;font-size:36px"><%= alert %></p>

<%if params[:search] %>
    <div class="page-header"><h3>Search Results</h3></div>
  <% if @books.present? %>
    <% @books.in_groups_of(2, false).each do |group| %>
        <%= render "book_list", group: group %>
    <% end %>
  <% else %>
    <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
  <% end %>
<% else %>
    <% if params[:category].blank? %>
        <%= render 'all_books' %>
    <% else %>
        <%= render 'via_category'%>
    <%end%>
<%end%>
<%= link_to image_tag('back_to_top.png'), '#', class: 'back-to-top' %>
<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>

<script>
    jQuery(document).ready(function() {
        var offset = 220;
        var duration = 500;
        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.back-to-top').fadeIn(duration);
            } else {
                jQuery('.back-to-top').fadeOut(duration);
            }
        });
        jQuery('.back-to-top').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        })
    });
</script>
