<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.book_img.url(:book_show), class: "book-show" %>
  </div>

  <div class="col-md-8">
    <h2><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <h2>Average Rating</h2>
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
    <span>Based on <%= @book.reviews.count %> reviews</span>
    <p><%= @book.description %></p>
    <h4>Category:
      <% @book.categories.all.each do |category| %>
      <%= link_to category.name, books_path(category: category.name) %>
    <% end %>
    </h4>

    <%= link_to 'Back', root_path, :class => "btn btn-primary button-edit", :id => "button-edit" %>

    <% if user_signed_in? %>
      <% if @book.user_id == current_user.id %>
        <%= link_to 'Edit', edit_book_path(@book), :class => "btn btn-primary", :id => "button-edit" %>
        <%= link_to 'Delete', book_path(@book), :class => "btn btn-danger", :id => "button-edit", method: :delete, data: {confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4" style="word-wrap: break-word;">
    <div class="margin-right">
        <%= link_to raw("<i class=\"glyphicon glyphicon-pencil\"> Add Review</i>"), new_book_review_path(@book), :id => "button-edit", :class => "btn btn-primary button-edit right" %>
    </div>
    <br><br>
    <%= render @book.reviews %>
  </div>
</div>


<% if user_signed_in? %>
  <% if can? :update, @book %>
    <%= link_to 'Edit', edit_book_path(@book) %>
  <% end %>
  <% if can? :destroy, @book %>
    <%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: "Are you sure?" } %>
  <% end %>
<% end %>


<script type='text/javascript'>

    (function()
    {
        if( window.localStorage )
        {
            if( !localStorage.getItem('firstLoad') )
            {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
            else
                localStorage.removeItem('firstLoad');
        }
    })();

</script>

<script>
    $('.review-rating').raty({
        readOnly: true,
        score: function() {
            return $(this).attr('data-score');
        },
        path: '/assets/'
    });
</script>


<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>

