<div class="review-rating" data-score="<%= review.rating  %>"></div>
	<%= review.comment %> - <%= review.user.name %>

	<br>

<%= link_to "Comment", book_review_path(@book, review), :class => "btn btn-primary button-edit btn-sm", :id => "button-edit" %>
<% if user_signed_in? %>
    <% if review.user_id == current_user.id %>
      <%= link_to "Edit", edit_book_review_path(review.book, review), :class => "btn btn-primary btn-sm button-edit", :id => "button-edit" %>
      <%= link_to "Delete", book_review_path(review.book, review),:class => "btn btn-danger btn-sm button-edit", :id => "button-edit",  method: :delete, data: {confirm: "Are you sure?"} %>
      <br><br>
    <% end %>

<%end %>

