<div class="review-rating" data-score="<%= review.rating  %>"></div>
  <%= review.comment %> - <%= link_to get_user_name(review.user.id), review.user %>

	<br>
<span id="numberoflikes<%= review.id %>">
	<%= render "reviews/stats", review: review %>
</span>
<span id="show-comment">
  <%= review.root_comments.count %><i class="fa fa-comments-o" aria-hidden="true"></i>
</span>
<% if user_signed_in? %>
  <div>
    <section id="like<%= review.id %>">
      <% if current_user.liked? review  %>
        <% like = Vote.find_by votable_type: "Review", votable_id: review.id, voter_id: current_user.id %>
        <%= render "reviews/unlike", like: like %>
      <% else %>
        <%= render "reviews/like", review: review %>
      <% end %>
    </section>
  </div>
    <div id="display-comment" class="col-md-">
    <% review.root_comments.each do |comment| %>
        <% if User.find_by(id: comment.user_id).name == nil %>
            <p><%= comment.body%> -  <%= link_to User.find_by(id: comment.user_id).email, user_path(User.find_by(id: comment.user_id).id) %><br></p>
        <% else %>
            <p><%= comment.body%> -  <%= link_to User.find_by(id: comment.user_id).name, user_path(User.find_by(id: comment.user_id).id) %><br></p>
        <% end %>
    <% end %>
      <%= link_to "Comment", book_review_path(@book, review), :class => "btn btn-primary button-edit btn-sm", :id => "button-edit" %>
    </div>
    <div class="col-md-8">

  <% if can? :update, review %>
    <%= link_to "Edit", edit_book_review_path(review.book, review), :class => "btn btn-primary button-edit btn-sm", :id => "button-edit"  %>
  <% end %>
  <% if can? :destroy, review %>
  	<%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger button-edit btn-sm", :id => "button-edit"%>
  <% end %>
  </div>
<%end %>
<br><br>
